body {
  text-align: center;
  background-color: #EBDABA;
}

.header {
  background-color: #DFAE9F;
  height: 100px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.title {
  margin-left: 4rem;
  color: white;
  font-size: 26px;
}

.equation {
  color: #C19999;
  font-size: 26px;
  margin: 4rem 4rem 2rem 4rem;
}

.card {
  width: 30%;
  padding: 2rem;
  margin: 2rem;
  background-color: #DFAE9F;
  box-shadow: 10px 5px 5px saddlebrown;
  border-radius: 20px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.input {
  height: 2rem;
  border-radius: 5px;
}

.submit {
  height: 50px;
  width: 150px;
  background-color: #DFAE9F;
  color: white;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.loadingContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.loadingThing {
  margin: 2rem;
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  padding: 2rem;
  border: 1px solid #DFAE9F;
  border-radius: 20px;
  position: relative;
}